<div id="footer" class="sections ws">
	<div class="content">
		<div class="container">
		
			<a class="to-top scroll-link" href="#intro"><i class="fa fa-angle-up transition"></i></a>
			
			<div class="clear"></div>
			
			<% include ../content/socialicons.ejs %>	
			
			<p><%- appdata.copyright %></p>
	
	</div>
	
</div>