<div id="testimonials" class="sections">
			<div class="parallax-testimonials"></div>
			<div class="overlay"></div>
			<div class="content">
				<div class="container">
					
					<h4 class="margin">Company Details</h4>
					<h2 class="color-white">Company Where i worked</h2>
					<div class="content-separator"><i class="fa fa-comment-o"></i><span></span></div>
					<div id="testimonials-slider" class="owl-carousel">
								
						<!-- fist-slide -->
									
							<div class="item">
								<div class="user-photo"><img src="images/users/atlas.png" alt="" class="respimg"></div>
								<p class="transition"> "I am currently working in Atlas InfoTech as Web Designer. I am Working from past 2.5 years from same company." </p>
								<div class="client-name">Atlas InfoTech<span class="client-line"><span class="circle"></span></span></div>
					
							</div>
									
						<!-- second-slide -->
									
							
							
					</div>
					
				</div>
				
			</div>
			
			<div class="testimonials-shadow"></div>
		
		</div>