<div id="testimonials" class="sections">
			<div class="parallax-testimonials"></div>
			<div class="overlay"></div>
			<div class="content">
				<div class="container">
					
					<h4 class="margin">Company Details</h4>
					<h2 class="color-white">Company Where i worked</h2>
					<div class="content-separator"><i class="fa fa-comment-o"></i><span></span></div>
					<div id="testimonials-slider" class="owl-carousel">
								
						<!-- fist-slide -->
						<% appdata.testimonials.testimonials_content.forEach(function(item){ %>
						<div class="item">
								<div class="user-photo"><img src="images/users/<%= item.company_logo %>" alt="" class="respimg"></div>
								<p class="transition"><%= item.company_content %></p>
								<div class="client-name"><%= item.company_name %><span class="client-line"><span class="circle"></span></span></div>
					
							</div>
						<% }); %>			
							
									
						<!-- second-slide -->
									
							
							
					</div>
					
				</div>
				
			</div>
			
			<div class="testimonials-shadow"></div>
		
		</div>