<div class="text-ticker-holder">
		
	<div class="overlay"></div>
	<div class="container">
		
		<div class="anim-text-holder">
		
			<h1 class="animtext"><%= appdata.welcome.main_content %> </h1>
			<h3 class="animtext fade"><%= appdata.welcome.sub_content %></h3>
			
			<div class="start-holder fade">
			
				<div class="start-decor transition"></div>
				
				<a href="#about" class="scroll-link start"><i class="fa fa-angle-down"></i></a>
			
			</div>
			
		</div>
	
	</div>
</div>